<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <h2>Welcome {{user.first_name}}</h2>
        <a href="/mybands">My Bands</a>
        <a href="/new/sighting">New Band</a>
        <a href="/clear">Log Out</a>
        
        <h2>All Bands</h2>
        <table>
            <tr>
                <th>Band Name</th>
                <th>Founding Member</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
            {% for band in bands %}
            
            <tr>
                
                <td>{{band.name}}</td>
                <td>{{band.created_by.first_name}}</td>
                <td>{{band.genre}}</td>
                {% if session['user_id'] == band.user_id %}
                <td><a href="/delete/{{band.id}}">Delete</a><a href="/edit/{{band.id}}">Edit</a></td>
            </tr>
                {% endif %}
            
            {% endfor %}
        </table>
</body>
</html>